---
import SectionHeader from './section-header.astro';
type Props = {

}

const {} = Astro.props

---
<div class="container py-4">
    <SectionHeader title='Blog' subtitle='The latest to my blog'/>
    
</div>