---
import heroMe from "../assets/hero-me.png";
import { Picture } from "@astrojs/image/components";
import SectionHeader from "./section-header.astro";
type Props = {};

const {} = Astro.props;
const borderStyle = "border-[4px] border-green-800 border-opacity-50";
---

<main class="py-4 mx-auto w-full">
  <!-- <SectionHeader title="Intro" subtitle="Brief introduction to me"/> -->
  <div class="grid grid-flow-row grid-cols-1 lg:grid-cols-2 w-full gap-6">
    <div class={`bg-slate-100 p-4 lg:p-10 rounded-2xl h-[550px]`}>
        <h1 class="text-[32px] sm:text-[40px] font-semibold">
          Hello, I’m Rogelio, a software engineer with 3 years of experience
        </h1>
        <p class="mt-10">
          I care a lot about design for positive impact, and enjoy creating
          user-centric, delightful, and human experiences.
        </p>
        <button class="py-3 px-8 bg-black text-white rounded-full text-sm mt-[1rem]"
          >Contact me</button
        >
    </div>
    <div class={`bg-[#FBFBFB] rounded-2xl overflow-hidden h-[550px]`}>
      <img src="/hero-me.png" class="object-cover h-full" />
    </div>
  </div>
</main>
